nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 0;
  margin-right: 20px;
  margin-top: 20px;
  width: 100%;
  color: #06bcc1;
  font-size: 30px;
}
nav a {
  color: #06bcc1;
}
nav a:hover {
  color: #f4edea;
}